$red: #f98ca4;
$blue: #4ad9db;
$green: #65f283;
$orange: #f5b10b;

$darkblue: #2f3e9c;
$darkred: #9e132c;
$purple:#6e1f58;

$outline: 2px;

@font-face {
  font-family: 'EarlyGameBoy';
  src: url('./assets/fonts/EarlyGameBoy.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(180deg, #070920 0%, #070920 0.01%, rgba(19, 24, 65, 0.53) 51.56%, rgba(7, 9, 32, 0.00) 100%, #070920 100%);
  padding-bottom: 5vh;
  position: relative;
  z-index: 1;
}

.scroll-button {
  min-height: 5vh;
  position: relative;
  z-index: 10;
}

.login-button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  background-color: #E24C4C;
}

.close-button {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1em;
  padding: 0 .4em .2em .4em;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E24C4C;
  gap: 30px;
  padding: 20px;
  border-radius: 12px;
  transform: translateX(300%) translateY(-50%);
  width: 25%;
  & h3 {
    align-self: flex-start;
  }
}

.gb-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: #2B2D42;
  position: relative;
  z-index: 10;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-width: 100vw;
  transform-style: preserve-3d;
}

#earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 150vh;
}

#globe-div {
  width: 100vw;
  height: 100vh;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
  z-index: 10;
}

.menu-button {
  position: absolute;
  bottom: 50px;
  right: 75px;
  border-radius: 50%;
  color: white;
  background-color: #000;
  border-color: #E24C4C;
  font-size: 3em;
  padding: 15px;
  z-index: 10;
  line-height: 30px;
  z-index: 10;
}

.f0 {
  transform: rotate(0deg);
}

.f1 {
  transform: translateX(-25%) translateY(-25%);
  font-size: 1.5em;
  z-index: 5;
}
.f2 {
  transform: translateX(-25%) translateY(-25%);
  font-size: 1.5em;
  z-index: 5;
}
.f3 {
  transform: translateX(-25%) translateY(-25%);
  font-size: 1.5em;
  z-index: 5;
}
.f4 {
  transform: translateX(-25%) translateY(-25%);
  font-size: 1.5em;
  z-index: 5;
}
.f5 {
  transform: translateX(-25%) translateY(-25%);
  font-size: 1.5em;
  z-index: 5;
}

.login-input {
  font-family: EarlyGameBoy, sans-serif;
  appearance: none;
  border: #23252d .1em solid;
  background-color: transparent;
  outline: none;
  padding: .5em;
  width: 100%;
  color: #23252d;
  &:focus {
    border: #23252d .3em solid;
  }
}

.login-title {
  font-family: EarlyGameBoy, sans-serif;
  color: #23252d;
  display: flex;
  justify-content: center;
}

.success-login {
  font-family: EarlyGameBoy, sans-serif;
  color: #23252d;
}

input[type=search] {
  background-color: #FFF;
  color: #000;
  font-size: .6em;
  padding: 1em;
  border-radius: 14px;
  height: 90%;
  text-align: center;
}

#searchbar {
  width: 25%;
  display: flex;
  position: relative;
}

.submit-button {
  background-color: #E24C4C;
  font-size: 1em;
  width: 100%;
  padding: .4em;
}

#tab-bar {
  width: 100vw;
  background-color: #FFF9ED;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4em;
}

#main-menu {
  position: absolute;
  top: 6.25vh;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f0a0a0;
  background-image: url(/src/assets/noise.png);
  background-attachment: fixed;
  gap: 30px;
  padding-top: 10px;
  height: 94vh;
  transform: translateX(-200%);
  & button {
    background-color: transparent;
  }
}

#profile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
  background: #a0ccf0;
  background-image: url(/src/assets/noise.png);
  background-attachment: fixed;
}

#profile-info {
  display: flex;
  gap: 30px;
}

.profile-info-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f0a0a0;
  background-image: url(/src/assets/noise.png);
  background-attachment: fixed;
  padding: 20px;
  border-radius: 12px;
  width: 40vw;
}

.weather-block {
  background-color: "#12131B"; 
  border-radius: 6px; 
  padding: 0 4px;
}
